h1 {
    font-family: "Inter";
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 100%;
    width: 1083px;
    height: 77px;
}

.heading {
    display: flex;
    justify-content: center;
    margin-top: 46px;
    margin-left: 100px;
}

#image {
    border: 4px solid #000000;
    width: 463px;
    height: 463px;
    border-width: 4px;
    margin-left: 129px;
}

#name {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    line-height: 100%;
}

.name-container {
    width: 463px;
    height: 67px;
    border-width: 1px;
    border-radius: 10px;
    background: #E8E8E8;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 129px;
    margin-top: 25px;
    margin-bottom: 50px;
}

#type {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
}

#Pokemon-type {
    display: flex;
    gap: 20px;
}

.type-badge{
    Width: 117px;
    Height: 41px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-badge.normal {background-color: #A8A77A;}
.type-badge.fire {background-color: #EE8130;}
.type-badge.water {background-color: #6390F0;}
.type-badge.electric {background-color: #F7D02C;}
.type-badge.grass {background-color: #7AC74C;}
.type-badge.ice {background-color: #96D9D6;}
.type-badge.fighting {background-color: #C22E28;}
.type-badge.poison {background-color: #A33EA1;}
.type-badge.ground {background-color: #E2BF65;}
.type-badge.flying {background-color: #A98FF3;}
.type-badge.psychic {background-color: #F95587;}
.type-badge.bug {background-color: #A6B91A;}
.type-badge.rock {background-color: #B6A136;}
.type-badge.ghost {background-color: #735797;}
.type-badge.dragon {background-color: #6F35FC;}
.type-badge.dark {background-color: #705746;}
.type-badge.steel {background-color: #B7B7CE;}
.type-badge.fairy {background-color: #D685AD;}

.type-container {
    margin-left: 129px;
    margin-top: 25px;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    margin-left: 166px;
    margin-top: 40px;
}

.button{
    background-color: #E8E8E8;
    width: 173px;
    height: 69px;
    border-radius: 10px;
    border-style: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#left-arrow {
    width: 61px;
    height: 61px;
    /* this ignores the pointer events of the image, 
        allowing the button to be clickable 
    */
    pointer-events: none;
}

#right-arrow {
    width: 61px;
    height: 61px;
    transform: rotate(-180deg);
    /* this ignores the pointer events of the image, 
        allowing the button to be clickable 
    */
    pointer-events: none;
}

.layout{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: center;
}

#info-text{
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    text-align: center;
    margin-right: 30px;
    position: relative;
    top: -55px;
}

.info-container{
    background-color: #E8E8E8;
    width: 486px;
    height: 598px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 40px;
    margin-bottom: 30px;
    position: relative;
    top: -55px;
}

.text{
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    line-height: 0;
    margin-bottom: 0.3em;
    padding-left: 40px;
    position: relative;
    top: 20px;
}

#info-button {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    line-height: 100%;
    background-color: #7CFF79;
    border-radius: 10px;
    height: 69px;
    width: 173px;
    border-style: hidden;
}

#move-button {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    line-height: 100%;
    background-color: #E8E8E8;
    border-radius: 10px;
    height: 69px;
    width: 173px;
    border-style: hidden;
}

.info-text-button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}